<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>주소 검색</title>
</head>
<style>
    #map {
        width: 500px;
        height: 500px;
    }
    #listWrap{
        display: none;
    }
    #noResult{
        display: none;
    }
    .place{
        cursor: pointer;
    }
    .choicePlaces{
        border: 1px solid black;
    }
    #reqBtn{
        display: none;
    }
    .newSearchContainer{
    display: none;
    }
    .resSearchData{
        cursor: pointer;
    }
    #resultSearchPlace{
        width: fit-content;
    }
</style>
<body>
<div id="wrap">

    <div id="listWrap">
        <div class="searchBox">
            <label>장소 :<input type="text" id="search" onkeyup="filter()" placeholder="장소를 검색하세요."></label>
        </div>

        <div class="listBox">

            <div th:each="item : ${place}" class="listInner">
                <span class="place" th:id="${item.id}" th:text="${item.korea_name}"/>
            </div>

            <div id="noResult">
                <span>검색 결과가 없습니다.</span>
                <button id="newPlace">나만의 장소 추가하기</button>
            </div>

            <div class="newSearchContainer">
                장소검색 : <input type="text" id="placeSearch" ><button onclick="requestMapAPI()">검색</button>
            </div>

            <div id="selectedPlace">
                <p>선택된 장소</p>
                <div class="choicePlaces"></div>
                <button id="reqBtn" onclick="submitPlace(selectPlace)">선택완료</button>
            </div>

            <div id="resultSearchPlace">
            </div>
            <div id="resultSearchPlaceMap"></div>
        </div>
    </div>

    <div id="mid">

        <div th:each="item : ${board}" th:text="${item}"></div>

        <div id="map"></div>



        <th:block th:each="day : ${#numbers.sequence(1,board.getTripBoard().getPeriod())}">
            <div th:text="${day}+'days'" class="days"></div>
            <span th:if="${plan['getDay'+day]}" th:text="${plan['getDay'+day]}" class="spanDays"></span>
            <button type="button" class="addPlace" th:id="${day}">장소 추가</button>
        </th:block>


    </div>
</div>


</body>
<script th:inline="javascript" async th:src="@{'https://maps.googleapis.com/maps/api/js?key='+${key}+'&callback=initMap&v=weekly'}" defer></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    const key = /*[[${key}]]*/
    let selectPlace = [];
    const reqBtn = document.getElementById('reqBtn');

    const newPlaceBtn = document.getElementById('newPlace');
    newPlaceBtn.addEventListener('click',()=>{
        const placeSearch = document.querySelector('.newSearchContainer');
        placeSearch.style.display='block';
    })

    const addPlaceBtn = document.querySelectorAll('.addPlace');
    addPlaceBtn.forEach(item =>{
        item.addEventListener('click',()=>{
            const listWrap = document.getElementById('listWrap');
            listWrap.style.display = 'block';
            reqBtn.id = item.id;
        });
    });


    const placeInfo=/*[[${place}]]*/;
    var plan  = /*[[${plan}]]*/;

    function initMarker(planArr){
        const plan = JSON.parse(planArr);

        var placeIds = plan.map((item)=> {
            return item.placeId;
        });

        const filter1 = placeInfo.filter((info)=>{
            return placeIds.includes(info.id)
        });

        const marker = filter1.map((item)=>{
            return  new google.maps.Marker({
                position: { lat : item.lat, lng : item.lng},
                map: map,
            });
        });
        return marker;
    }

     function newPlace(data){
        const boardId = /*[[${board.getTripBoard().getBoard_id()}]]*/;
        const dayId = reqBtn.id;
        const url = `/newPlace/${boardId}?dayId=${dayId}`;
        fetch(url,{method:"POST",headers:{'Content-Type': 'application/json'},body:JSON.stringify(data)})
            .then(res => {if(res.status===200){return res.json()}})
            .then(resData => {
                addMarker(resData.lat,resData.lng);
               const button = document.querySelector(`button.addPlace[id="${dayId}"]`);
                const span = document.createElement("span");
                span.textContent = `{"placeId":${resData.id},"placeName":"${resData.korea_name}"}`
                button.parentNode.insertBefore(span,button);
            });
    }


    function submitPlace(data){
        const boardId = /*[[${board.getTripBoard().getBoard_id()}]]*/;
        const dayId = reqBtn.id;
        const url = `/reqPlace/${boardId}?dayId=${dayId}`;
        console.log(data)

        fetch(url,{method : "POST" , headers:{'Content-Type': 'application/json'},body:JSON.stringify(data)})
            .then( res =>{
                if(res.status === 200){
                    console.log(res);
                    return res.json();
                }else{
                    alert("다시 선택해주세요.")
                }
            })
            .then(data => {
                console.log(data);
                data.forEach(item => {
                    addMarker(item.lat,item.lng)
                    const span = document.createElement("span");
                    span.textContent = `{"placeId":${item.id},"placeName":"${item.korea_name}"}`;
                    const button = document.querySelector(`button.addPlace[id="${dayId}"]`);
                    button.parentNode.insertBefore(span,button);

                })
            })
            .catch(error => console.error(error))
    }

    // 검색어
    function filter(){
        const search = document.getElementById("search").value.toLowerCase().replace(/\s/g, "");
        const listInner = document.getElementsByClassName("listInner");
        const noResult = document.getElementById("noResult");

        let isResultFound = false;

        for (let i = 0; i < listInner.length; i++) {
            place = listInner[i].getElementsByClassName("place");

            if (place[0].innerHTML.toLowerCase().replace(/\s/g, "").indexOf(search) != -1) {
                listInner[i].style.display = "flex"
                isResultFound = true;
            } else  {
                listInner[i].style.display = "none"
            }
        }

        if (!isResultFound) {
            noResult.style.display = "flex";
        } else {
            noResult.style.display = "none";
        }
    }


    // 장소 리스트 클릭
    listPlace();


    function listPlace(){
        const place = document.querySelectorAll('.place');
        const choicePlaces = document.querySelector('.choicePlaces');
        place.forEach(dom => {
            dom.addEventListener('click',(e) =>{
                const placeName= e.target.innerText;
                const placeId = e.target.getAttribute('id');

                if(selectPlace.some(place => place.placeId === placeId)){
                    console.log("이미 선택됨")
                    return;
                }

                const placeList = {placeId:placeId,placeName:placeName};
                selectPlace.push(placeList);

                let addPlaceList = document.createElement("span");
                console.log(placeList)
                addPlaceList.innerHTML=`<div>${placeName}</div>`;
                choicePlaces.appendChild(addPlaceList);

                if(selectPlace.length >0){
                    reqBtn.style.display = 'block';
                }

            })
        })
    }


    // 구글 맵 API
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: /*[[${board.getCapital().lat}]]*/, lng: /*[[${board.getCapital().lng}]]*/ },
            zoom: 12,
            disableDefaultUI : true,
        });

        const days = Object.keys(plan).filter((key)=>key.startsWith('day') && key !== 'day_id');

        days.forEach((item) => {
            const dayData = plan[item];
            if (dayData !== null && dayData !== undefined) {
                initMarker(dayData);
            }
        });

    }

    // 구글 마커추가 API
    function addMarker(lat, lng) {
        const marker = new google.maps.Marker({
            position: {lat, lng},
            map: map,
        });
    }

    window.initMap = initMap;

    // 구글 장소 검색 API
  function requestMapAPI(){
      const place = document.getElementById("placeSearch").value;
      const url = '/requestPlace';
      const data = {place : place, lat : /*[[${board.getCapital().lat}]]*/, lng: /*[[${board.getCapital().lng}]]*/};
      fetch(url,{method : "POST" , body:JSON.stringify(data),headers:{'Content-Type': 'application/json'}})
          .then( response =>{
              return response.json();
          })
          .then(res => {
              const resultSearchPlace = document.getElementById('resultSearchPlace');
              const resultSearchPlaceMap = document.getElementById('resultSearchPlaceMap');
              resultSearchPlace.innerHTML = '';
              resultSearchPlaceMap.innerHTML = '';

              res.results.forEach((item)=>{
                  console.log(item);
                  const addPlaceList = document.createElement("div");
                  addPlaceList.classList.add('resSearchData');
                  addPlaceList.innerHTML = item.name;
                  resultSearchPlace.appendChild(addPlaceList);

                  addPlaceList.addEventListener('click', () => {
                      resultSearchPlaceMap.innerHTML = `<img src="https://maps.googleapis.com/maps/api/staticmap?center=${item.geometry.location.lat},${item.geometry.location.lng}&markers=${item.geometry.location.lat},${item.geometry.location.lng}&zoom=16&size=400x400&maptype=terrain&key=${key}">`;

                      const confirmButton = document.createElement("button");
                      confirmButton.innerHTML = "확인";
                      confirmButton.addEventListener("click", () => {
                          const itemData = {capital_id:/*[[${board.getTripBoard().capital}]]*/,korea_name:item.name,category:item.types[0],lat:item.geometry.location.lat,lng:item.geometry.location.lng};
                          // 여기야
                          newPlace(itemData);
                          console.log("API 요청: ", item.name);
                      });
                      resultSearchPlaceMap.appendChild(confirmButton);


                      const cancelButton = document.createElement("button");
                      cancelButton.innerHTML = "취소";
                      cancelButton.addEventListener("click", () => {
                          // 취소 버튼 클릭 시 이미지 제거
                          resultSearchPlaceMap.innerHTML = "";
                      });
                      resultSearchPlaceMap.appendChild(cancelButton);

                  }); // addPlaceList 클릭
              }); // res 반복

          }) // then
          .catch(error => console.error(error))
  }


    /*]]>*/
</script>
</html>