<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>회원가입</title>
</head>
<body>

    유저 아이디 : <input type="text"  id="regUserId">
    </br>
    유저 비번 : <input type="text" id="regUserPw">
    </br>
    유저 닉넴 : <input type="text" id="regUserNick">
    </br>
    <button type="button" id="subBtn">회원 가입</button>
    </br>
    <button onclick="showPopUp()">
        <img th:src="@{/img/naverLoginBtn.png}" width="200" height="50">
    </button>

</body>
<script th:inline="javascript">

  const subBtn = document.getElementById("subBtn");
  subBtn.addEventListener("click",registerFetch);

  function registerFetch(){
      const user_id = document.getElementById("regUserId").value;
      const user_pw = document.getElementById("regUserPw").value;
      const user_nick = document.getElementById("regUserNick").value;
      const url = '/member/';
      const data = JSON.stringify({user_id,user_pw,user_nick});
      console.log(data)
      fetch(url,{method : "POST" , body:data,headers:{'Content-Type': 'application/json'}})
            .then( response =>{
                response.status === 201 ? alert("회원가입 완료!") : alert("회원가입 실패ㅠ")
              console.log(response)
            }).catch(error => console.error(error))

  }



  /*<![CDATA[*/
  function showPopUp(){
      var state = [[${state}]];

      const uri = 'https://nid.naver.com/oauth2.0/authorize?' +
          'response_type=code' +
          '&client_id=nPHj7peh5QV2gkYPN7Xv' +
          '&state='+state +
          '&redirect_uri=http://localhost:8080/outh2/naver/login';

      var popup = window.open(uri, "팝업 테스트", "width=400, height=300, top=10, left=10");

      window.addEventListener('message',function (event){
          console.log(event);
          if(event.data === 'naverLoginSuccess'){
              popup.close();
              alert("로긴 성공!");
          }else if (event.data ==='naverRegSuccess'){
              popup.close();
              alert("가입 성공!");
          }
          else {
              popup.close();
              alert("가입 실패 ㅠ");
          }
      });
  }
  /*]]>*/

</script>
</html>