<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>회원가입</title>
</head>
<body>

    유저 아이디 : <input type="text"  id="regUserId">
    </br>
    유저 비번 : <input type="text" id="regUserPw">
    </br>
    유저 닉넴 : <input type="text" id="regUserNick">
    </br>
    <button type="button" id="subBtn">회원 가입</button>
    <button type="button" id="loginBtn">로그인</button>
    </br>
    <button onclick="showPopUp()">
        <img th:src="@{/img/naverLoginBtn.png}" width="200" height="50">
    </button>


</body>
<script th:inline="javascript">

  const subBtn = document.getElementById("subBtn");
  subBtn.addEventListener("click",registerFetch);

  const loginBtn = document.getElementById("loginBtn");
  loginBtn.addEventListener("click",loginFetch);

  function loginFetch(){
      const user_id = document.getElementById("regUserId").value;
      const user_pw = document.getElementById("regUserPw").value;
      const url = '/login';
      const data = JSON.stringify({user_id,user_pw});
      console.log(data)
      fetch(url,{method : "POST" , body:data,headers:{'Content-Type': 'application/json'}})
          .then( response =>{
              if(response.status === 200){
                let token = response.headers.get("Authorization");
                console.log(token);
                localStorage.setItem("Authorization",token);
                alert("로그인 성공!!")
              }else{
                  alert("로그인 실패ㅠ")
                  throw new Error("로그인 실패");
              }
          }).catch(error => console.error(error))
  }


  function registerFetch(){
      const user_id = document.getElementById("regUserId").value;
      const user_pw = document.getElementById("regUserPw").value;
      const user_nick = document.getElementById("regUserNick").value;
      const url = '/member/';
      const data = JSON.stringify({user_id,user_pw,user_nick});
      console.log(data)
      fetch(url,{method : "POST" , body:data,headers:{'Content-Type': 'application/json'}})
            .then( response =>{
                console.log(response)
                if(response.status === 201){
                    alert("회원가입 완료!");
                    // return response.json(); // Response 객체를 JSON 형태로 파싱하여 반환
                }else {
                    alert("회원가입 실패ㅠ");
                    throw new Error('회원가입 실패');
                }
            })
          // .then(data => { console.log(data)})
          .catch(error => console.error(error))

  }



  /*<![CDATA[*/
  function showPopUp(){
      var state = [[${state}]];

      const uri = 'https://nid.naver.com/oauth2.0/authorize?' +
          'response_type=code' +
          '&client_id=nPHj7peh5QV2gkYPN7Xv' +
          '&state='+state +
          '&redirect_uri=http://localhost:8080/outh2/naver/login';

      var popup = window.open(uri, "팝업 테스트", "width=400, height=300, top=10, left=10");

      function popupCallback(event) {
          console.log(event);
          if (event.data === "naverLoginSuccess") {
              popup.close();
              alert("로긴 성공!");
          } else if (event.data === "naverRegSuccess") {
              popup.close();
              alert("가입 성공!");
          } else {
              popup.close();
              alert("가입 실패 ㅠ");
          }
          window.removeEventListener("message", popupCallback);
      }
      window.addEventListener("message", popupCallback);
  }
  /*]]>*/

</script>
</html>